/**
  Table of Contents
  ------------------------
  UC01 - Overall Page Elements
**/


/** UC01 Overall Page Elements
 ===================== **/

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}