/**
  Table of Contents
  ------------------------
  UC01 - General Elements
  UC02 - Page Fade Elements
  UC03 - Overall Page Elements
  UC04 - Text Elements
**/

/** UC01 General Elements
 ===================== **/

button:focus {
  outline: 0 !important;
}

.list {
  .list__item {
    border-right: 1px solid #CCC;

    &:last-child {
      border: 0;
    }
  }
}

/** UC02 Page Fade Elements
 ===================== **/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
}

/** UC03 Overall Page Elements
 ===================== **/

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

/** UC04 Text Elements
 ===================== **/


.small-label {
  color: #ccc;
  display: none;
  font-style: italic;
}

.title {
  font-size: 1.39em;
  font-weigt: 600;
}

.error {
  background-color: #f8d7da;
  border: 1px solid transparent;
  border-color: #f5c6cb;
  border-radius: 0.25rem;
  color: #721c24;
  padding: 0.2em;


}

.hidden {
  display: none;
}
.show {
  display: block;
}

.lean {
  color: #6e6e6e;
  font-style: italic;
}