/**
  Table of Contents
  ------------------------
  UC01 - Page Fade Elements
  UC02 - Overall Page Elements
**/



/** UC01 Page Fade Elements
 ===================== **/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
}

/** UC02 Overall Page Elements
 ===================== **/

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}
